<%= provide :nav, t(".register") %>
<div class="sign-up-form">
  <h3 class="tittle"><%= t ".registration" %> <i class="glyphicon glyphicon-file"></i>
  </h3>
  <p><%= t ".having_hand" %></p>
  <div class="sign-up">
    <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
      <%= devise_error_messages! %>
      <h3 class="tittle reg"><%= t ".persional" %> <i class="glyphicon glyphicon-user"></i>
      </h3>
      <div class="sign-u">
        <div class="sign-up1">
          <h4 class="a"><%= t ".name" %>* :</h4>
        </div>
        <div class="sign-up2">
          <%= f.text_field :name, class: "text" %>
        </div>
        <div class="clearfix"> </div>
      </div>

      <div class="sign-u">
        <div class="sign-up1">
          <h4 class="b"><%= t ".phone" %>* :</h4>
        </div>
        <div class="sign-up2">
          <%= f.text_field :phone, class: "text" %>
        </div>
        <div class="clearfix"> </div>
      </div>

      <div class="sign-u">
        <div class="sign-up1">
          <h4 class="c"><%= t ".email" %>* :</h4>
        </div>
        <div class="sign-up2">
          <%= f.text_field :email, class: "text" %>
        </div>
        <div class="clearfix"> </div>
      </div>

      <h3 class="tittle reg"><%= t ".login_info" %> <i class="glyphicon glyphicon-off"></i></h3>
      <div class="sign-u">
        <div class="sign-up1">
          <h4 class="d"><%= t ".password" %>* :</h4>
        </div>
        <div class="sign-up2">
          <%= f.password_field :password, class: "text" %>
        </div>
        <div class="clearfix"> </div>
      </div>

      <div class="sign-u">
        <div class="sign-up1">
          <h4><%= t ".confirm_password" %>* :</h4>
        </div>
        <div class="sign-up2">
          <%= f.password_field :password_confirmation, class: "text" %>
        </div>
        <div class="clearfix"> </div>
      </div>

      <input type="submit" value="<%= t ".sign_up" %>">
    <% end %>
  </div>
</div>
