<div class="media response-info comment-row" id="<%= comment.id %>">
  <div class="media-left response-text-left">
    <%= image_tag "default-avatar.jpg", class: "img-responsive media-object" %>
    <h5 class="comment-user"><a href="#"><%= comment.user.name %></a></h5>
  </div>
  <div class="media-body response-text-right">
    <p><%= comment.content %></p>
    <ul>
      <li><%= comment.created_at.strftime Settings.posts.timestr %></li>
      <% if current_user == comment.user %>
        <%= link_to "Edit", edit_post_comment_path(comment.post, comment), class: "btn btn-info btn-sm edit-comment" %>
      <% end %>
      <% if current_user == comment.user || current_user.is_admin? %>
        <%= link_to "Delete", [comment.post, comment], remote:true, method: :delete, data: {comfirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
      <% end %>
    </ul>
  </div>
</div>
