<%= provide :title, t(".about") %>
<%= provide :activea, t(".active") %>
<%= provide :nav, t(".nav") %>

<div class="about-content">
  <h3 class="tittle"><%= t ".about" %> <i class="glyphicon glyphicon-user"></i></h3>
  <%= image_tag "ab.jpg", class: "img-responsive" %>
  <p>
    <%= t ".having_hand" %>
    <label>
      <%= t ".label" %>
    </label>
  </p>
  <div class="clearfix"></div>
  <p class="nam">
    <%= t ".nam" %>
  </p>
</div>
