<%= provide :title, t(".title") %>
<%= provide :activeh, "active" %>

<div class="banner-section">
  <h3 class="tittle"><%= t ".general" %> <i class="glyphicon glyphicon-picture"></i></h3>
  <div class="banner">
    <div class="callbacks-container">
      <ul class="rslides" id="slider4">
        <li>
          <%= image_tag "1.jpg", class: "img-responsive" %>
        </li>
        <li>
          <%= image_tag "2.jpg", class: "img-responsive" %>
        </li>
        <li>
          <%= image_tag "3.jpg", class: "img-responsive" %>
        </li>
        <li>
          <%= image_tag "4.jpg", class: "img-responsive" %>
        </li>
      </ul>
    </div>

    <div class="clearfix"> </div>
    <div class="b-bottom">
      <h5 class="top"><%= link_to t(".what"), "#" %></h5>
      <p>
        <%= t ".post_date" %>
        <%= link_to "#", class: "span-link" do %>
          <span class="glyphicon glyphicon-comment"></span><%= t ".sum_comment" %>
        <% end %>
        <%= link_to "#", class: "span-link" do %>
          <span class="glyphicon glyphicon-eye-open"></span><%= t ".sum_view" %>
        <% end %>
        <%= link_to "#", class: "span-link" do %>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <% end %>
      </p>
    </div>
  </div>
  <div class="top-news">
    <div class="top-inner">
      <div class="col-md-6 top-text">
        <%= link_to "#" do %>
          <%= image_tag "pic1.jpg", class: "img-responsive" %>
        <% end %>
        <h5 class="top">
          <%= link_to "#" do %>
            <%= t ".post_title" %>
          <% end %>
        </h5>
        <p><%= t ".post_content" %></p>
        <p>
          <%= t ".post_date" %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-comment"></span><%= t ".sum_comment" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-eye-open"></span><%= t ".sum_view" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          <% end %>
        </p>
      </div>
      <div class="col-md-6 top-text two">
        <%= link_to "#" do %>
          <%= image_tag "pic2.jpg", class: "img-responsive" %>
        <% end %>
        <h5 class="top">
          <%= link_to "#" do %>
            <%= t ".post_title" %>
          <% end %>
        </h5>
        <p><%= t ".post_content" %></p>
        <p>
          <%= t ".post_date" %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-comment"></span><%= t ".sum_comment" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-eye-open"></span><%= t ".sum_view" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          <% end %>
        </p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="top-inner second">
      <div class="col-md-6 top-text">
        <%= link_to "#" do %>
          <%= image_tag "pic3.jpg", class: "img-responsive" %>
        <% end %>
        <h5 class="top">
          <%= link_to "#" do %>
            <%= t ".post_title" %>
          <% end %>
        </h5>
        <p><%= t ".post_content" %></p>
        <p>
          <%= t ".post_date" %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-comment"></span><%= t ".sum_comment" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-eye-open"></span><%= t ".sum_view" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          <% end %>
        </p>
      </div>
      <div class="col-md-6 top-text two">
        <%= link_to "#" do %>
          <%= image_tag "pic4.jpg", class: "img-responsive" %>
        <% end %>
        <h5 class="top">
          <%= link_to "#" do %>
            <%= t ".post_title" %>
          <% end %>
        </h5>
        <p><%= t ".post_content" %></p>
        <p>
          <%= t ".post_date" %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-comment"></span><%= t ".sum_comment" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-eye-open"></span><%= t ".sum_view" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          <% end %>
        </p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="banner-right-text">
  <h3 class="tittle"><%= t ".news" %> <i class="glyphicon glyphicon-facetime-video"></i></h3>
  <div class="general-news">
    <div class="general-inner">
      <div class="general-text">
        <%= link_to "#" do %>
          <%= image_tag "gen1.jpg", class: "img-responsive" %>
        <% end %>
        <h5 class="top">
          <%= link_to "#" do %>
            <%= t ".post_title" %>
          <% end %>
        </h5>
        <p><%= t ".post_content" %></p>
        <p>
          <%= t ".post_date" %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-comment"></span><%= t ".sum_comment" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-eye-open"></span><%= t ".sum_view" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          <% end %>
        </p>
      </div>
      <div class="edit-pics">
        <div class="editor-pics">
          <div class="col-md-3 item-pic">
            <%= image_tag "f4.jpg", class: "img-responsive" %>
          </div>
          <div class="col-md-9 item-details">
            <h5 class="inner two"><%= link_to t(".new_ipad"), "#" %></h5>
            <div class="td-post-date two">
              <i class="glyphicon glyphicon-time"></i><%= t ".post_date_two" %>
              <%= link_to "#" do %>
                <i class="glyphicon glyphicon-comment"></i><%= t ".sum_comment" %>
              <% end %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="editor-pics">
          <div class="col-md-3 item-pic">
            <%= image_tag "f1.jpg", class: "img-responsive" %>
          </div>
          <div class="col-md-9 item-details">
            <h5 class="inner two"><%= link_to t(".new_ipad"), "#" %></h5>
            <div class="td-post-date two">
              <i class="glyphicon glyphicon-time"></i><%= t ".post_date_two" %>
              <%= link_to "#" do %>
                <i class="glyphicon glyphicon-comment"></i><%= t ".sum_comment" %>
              <% end %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="editor-pics">
          <div class="col-md-3 item-pic">
            <%= image_tag "f1.jpg", class: "img-responsive" %>
          </div>
          <div class="col-md-9 item-details">
            <h5 class="inner two"><%= link_to t(".new_ipad"), "#" %></h5>
            <div class="td-post-date two">
              <i class="glyphicon glyphicon-time"></i><%= t ".post_date_two" %>
              <%= link_to "#" do %>
                <i class="glyphicon glyphicon-comment"></i><%= t ".sum_comment" %>
              <% end %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="editor-pics">
          <div class="col-md-3 item-pic">
            <%= image_tag "f4.jpg", class: "img-responsive" %>
          </div>
          <div class="col-md-9 item-details">
            <h5 class="inner two"><%= link_to t(".new_ipad"), "#" %></h5>
            <div class="td-post-date two">
              <i class="glyphicon glyphicon-time"></i><%= t ".post_date_two" %>
              <%= link_to "#" do %>
                <i class="glyphicon glyphicon-comment"></i><%= t ".sum_comment" %>
              <% end %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="media">
        <h3 class="tittle media"><%= t ".media" %> <i class="glyphicon glyphicon-floppy-disk"></i></h3>
        <div class="general-text two">
          <%= link_to "#" do %>
            <%= image_tag "gen3.jpg", class: "img-responsive" %>
          <% end %>
          <h5 class="top">
            <%= link_to "#" do %>
              <%= t ".post_title" %>
            <% end %>
          </h5>
          <p><%= t ".post_content" %></p>
          <p>
            <%= t ".post_date" %>
            <%= link_to "#", class: "span-link" do %>
              <span class="glyphicon glyphicon-comment"></span><%= t ".sum_comment" %>
            <% end %>
            <%= link_to "#", class: "span-link" do %>
              <span class="glyphicon glyphicon-eye-open"></span><%= t ".sum_view" %>
            <% end %>
            <%= link_to "#", class: "span-link" do %>
              <span class="glyphicon glyphicon-circle-arrow-right"></span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="general-text two">
        <%= link_to "#" do %>
          <%= image_tag "gen2.jpg", class: "img-responsive" %>
        <% end %>
        <h5 class="top">
          <%= link_to "#" do %>
            <%= t ".post_title" %>
          <% end %>
        </h5>
        <p><%= t ".post_content" %></p>
        <p>
          <%= t ".post_date" %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-comment"></span><%= t ".sum_comment" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-eye-open"></span><%= t ".sum_view" %>
          <% end %>
          <%= link_to "#", class: "span-link" do %>
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
