<div class="row" id="<%= post.id %>">
    <div class="card">
      <div class="card-image">
        <%= image_tag (post.picture? ? post.picture.url : 'default-post.png'), class: "img-responsive" %>
      </div>
      <div class="card-content">
        <p>
          <%= link_to post.title, post %>
        </p>
        <div class="tags"><strong>Tags:</strong>
          <% post.tags.each do |tag| %>
            <span><%= link_to tag.name, tag %></span>
          <% end %>
        </div>
      </div>

      <div class="card-action">
        <%= t ".post_date" %> <%= post.created_at.strftime Settings.posts.timestr %>
        <%= t ".by" %><strong> <%= link_to post.user.name, post.user %></strong>
        <%= link_to post, class: "span-link" do %>
          <span class="glyphicon glyphicon-comment"></span>
          <strong id="total-comment"><%= post.comments.size %></strong>
        <% end %>
        <%= link_to post, class: "span-link" do %>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <% end %>
        <% if can? :update, post %>
          <span class="pull-right">
            <%= link_to t(".edit"), edit_post_path(post), class: "btn btn-info btn-sm edit-post" %>
            <%= link_to t(".delete"), post, method: :delete, class: "btn btn-danger btn-sm delete-post" %>
          </span>
        <% end %>
      </div>
    </div>
</div>
