<div class="show-post">
  <h3 class="tittle"><%= t ".your_story" %> <i class="glyphicon glyphicon-heart"></i></h3>
  <div class="single">
    <div class="cover-image" id="cover-title-image">
      <input type="hidden" id="images-url" value="<%= @post.picture.url %>">
      <div class="black-bg">
        <h2 class="top post-title"><%= @post.title %></h2>
      </div>
    </div>
    <div class="b-bottom">
      <p class="sub"><%= raw @post.content %></p>
      <p>
        <strong>
          <%= @post.created_at.strftime Settings.posts.timestr %>
          <span class="glyphicon glyphicon-comment"></span><strong id="total-comment"><%= @post.comments.size %></strong>
        </strong>
      </p>
    </div>
  </div>
  <div class="single-bottom">
    <div class="single-middle">
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="list-post">
    <%= render partial: "comments/comment", collection: @post.comments, as: "comment" %>
  </div>
  <%= render "comments/comment_form", post: @post %>
</div>
