<div class="show-post">
  <h3 class="tittle"><%= t ".your_story" %> <i class="glyphicon glyphicon-heart"></i></h3>
  <div class="single">
    <div class="cover-image" id="cover-title-image">
      <input type="hidden" id="images-url" value="<%= @post.picture.url %>">
      <div class="black-bg">
        <h2 class="top post-title"><%= @post.title %></h2>
      </div>
    </div>
    <div class="b-bottom">
      <p class="sub"><%= raw @post.content %></p>
      <div class="tags">
        <strong>Tags:</strong>
        <% @post.tags.each do |tag| %>
          <span><%= link_to tag.name, tag %></span>
        <% end %>
      </div>
      <div>
        <%= t ".post_date" %> <%= @post.created_at.strftime Settings.posts.timestr %>
        <%= t ".by" %><strong> <%= link_to @post.user.name, @post.user %></strong>
        <strong>
          <span class="glyphicon glyphicon-comment"></span><strong id="total-comment"><%= @post.comments.size %></strong>
        </strong>
      </div>
    </div>
  </div>
  <div class="single-bottom">
    <div class="single-middle">
      <ul class="social-share">
        <li><span>SHARE</span></li>
        <li>
          <%= social_share_button_tag(@post.title, :allow_sites => %w(twitter)) %>
        </li>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="list-comment">
    <%= render partial: "comments/comment", collection: @post.comments, as: "comment" %>
  </div>
  <%= render "comments/comment_form", post: @post %>
</div>
